
/* Edit reports styles */
/* Modal styles here */
.jsr-designer-container, button {
  font-family: 'Open Sans', sans-serif;
}

.jsr-designer-container .ditto-designer button {
  margin-bottom: 16px;
}

.jsr-designer-container .jsr-designer-toolbar {
  min-height: 52px;
  background: #393836;
}

.jsr-designer-container .ditto-designer .jsr-designer-toolbar .jsr-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.jsr-designer-container .jsr-btn,
.jsr-designer-container .ditto-designer .jsr-btn {
  background: #00a9e8;
  color: #fff;
  border-radius: 6px;
  border: none;
}

.jsr-designer-container .jsr-btn.btn-success {
  background: #52be7f;
}

.jsr-designer-container .ditto-designer .jsr-designer-header h3 {
  color: #393836;
}

.jsr-designer-container .jsr-style-root .navbar .nav > .active > a::after {
  background: #52be7f;
}

.jsr-designer-container .jsr-select2-dropdown .select2-results .select2-highlighted {
  background: transparent;
  color: #fff;
}

.jsr-designer-container .ditto-designer .jsr-designer-left .left-pane-toggle-btn:hover {
  background-color: #00a9e8;
  border: none;
}

.jsr-designer-container .ditto-designer .select2-container .select2-choice {
  background: #00a9e8;
  color: #fff;
  border: none;
}

.jsr-designer-container .select2-drop-active {
  border: none;
}

.jsr-designer-container .select2-results .select2-result-label {
  color: #393836;
}

/* have to use important here...
to override default styles that
are already using important */
.jsr-designer-container .select2-default {
  color: #fff !important;
}

.jsr-designer-container .ditto-designer .select2-arrow,
.jsr-designer-container .ditto-designer .select2-container .select2-choice .select2-arrow {
  border-left: none;
}

.jsr-designer-container div.ditto-designer:before {
  background: transparent;
}

.jsr-designer-container .jsr-new-element-button,
.jsr-designer-container .jsr-new-element-button:hover {
  background: #00a9e8;
  color: #fff;
  border: none;
}

.jsr-designer-container .ditto-designer .section-label {
  color: #393836;
}

.jsr-designer-container .ditto-designer {
  border: 1px solid #b5b5b3;
}

.jsr-designer-container .preview-element {
  height: 20px !important;
}

.jsr-designer-container .delete-element-button {
  width: auto;
}

.jsr-designer-container .jsr-template-content * {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
}


/* run report styles */
/* had to use !important a lot
to override inline styles */
.jsr-report {
  color: #393836;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.jsr-content-viewport {
  height: calc(100vh - 48px) !important;
}

.ditto-report-content {
  padding: 60px 30px 40px !important;
}

.jsr-report .ditto-report-toolbar {
  width: 100% !important;
  background: #fff;
  border-bottom: 0.5px solid rgba(102,102,102,0.5);
  box-shadow: none;
  padding: 8px 30px;
}

.ditto-report-toolbar .jsr-toolbar-buttons button {
  height: auto;
  background: #00a9e8;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  border: none;
  padding: 5px 12px;
}

.ditto-report-toolbar .jsr-toolbar-buttons .jsr-save-dropdown-button button {
  background: #52be7f;
}



/*
.jsr-report div {
  font-size: 1em !important;
  line-height: 30px;
  position: relative;
  top: 0 !important;
}*/

.jsr-report > div {
  /*padding-left: 100px;*/
}

/*.ditto-report-content div:nth-child(2) {
  padding-top: 40px;
}

.ditto-report-content div:nth-child(2) div {
  color: #00a9e8;
  font-size: 1.5em !important;
  text-decoration: none !important;
  padding-bottom: 30px;
}

.ditto-report-toolbar,
.jsr-report .ditto-report-toolbar {
  box-shadow: none;
  border-bottom: 0.5px solid #b5b5b3;
  padding: 10px 0;
}

.jsr-section {
  height: auto !important;
  min-height: auto !important;
}*/

/* Report styles here */
/*#report-root*/
